body
{
	background-color: darkgray;
}

#header
{
	background-color: brown;
	text-align: center;
	margin-bottom: 5px;

}

#nav
{
	background-color: yellow;
	text-align: right;
}

#footer
{
	background-color: red;
	text-align: right;
}